@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');

@layer base {
  .hero-content {
    @apply m-auto flex-col lg:flex-row-reverse w-full lg:w-9/12;
  }
}

.gatsby-image-wrapper-constrained {
  vertical-align: middle;
}

@layer components {
  .btn-hide {
    opacity: 0.3;
    cursor: no-drop;
  }
}

body {
  position: relative;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh);
}

.main {
  min-height: 100%;
}

/* .main--projects, */
.main--contacts {
  position: absolute;
  left: 0;
  right: 0;
  height: 100%;
}
.main--contacts {
  min-height: 40rem;
}
.main--projects {
  flex: 1 1 auto;
  /* display: flex; */
  /* position: relative; */
  /* min-height: 70rem; */
}

footer {
  margin-top: auto;
}

.header__svg {
  position: absolute;
  z-index: -1;
}

.hero-section {
  position: relative;
  min-height: calc(100vh - 125px - 86px);
}
.hero-section--full {
  position: relative;
  min-height: calc(100vh - 125px - 144px - 64px);
}
.bottom-svg {
  position: absolute;
  left: 0;
  right: 0;
}

.svg-blue {
  backdrop-filter: blur(20px);
  background-color: rgba(#30aade, 0.8);
}

.section__slider .wrap {
  height: 70vh;
  width: 25vw;
  /* width: 100%; */
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper .img-box {
  /* padding: 5%;
  background: radial-gradient(
    151.64% 120.36% at 47.19% -0.63%,
    rgba(255, 255, 255, 0.9) 30%,
    rgba(255, 255, 255, 0) 100%
  );
  backdrop-filter: blur(50px); */
  /* overflow-y: scroll; */
  height: 100%;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.swip--home .swiper-button-prev,
.swip--home .swiper-button-next {
  position: absolute;
  top: 60%;
  height: 3rem;
  width: 4rem;
  background: rgba(255, 255, 255, 0.5) url('/img/icons/arrow_r.svg') center;
  backdrop-filter: saturate(180%) blur(20px);
  background-size: cover;
  cursor: pointer;
  z-index: 10;
}
.swip--home .swiper-button-prev {
  left: 3%;
  transform: rotate(180deg);
  clip-path: polygon(
    0% 20%,
    60% 20%,
    60% 0%,
    100% 50%,
    60% 100%,
    60% 80%,
    0% 80%
  );
}
.swip--home .swiper-button-next {
  right: 3%;
  clip-path: polygon(
    0% 20%,
    60% 20%,
    60% 0%,
    100% 50%,
    60% 100%,
    60% 80%,
    0% 80%
  );
}
.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  cursor: auto;
  opacity: 0.35;
  pointer-events: none;
}

.swiper--proj .swiper-slide {
  color: inherit;
}
.swiper--proj .swiper-wrapper {
  transition-timing-function: linear;
}
.swiper--proj > .swiper-wrapper {
  padding: 20rem 0 5rem;
  /* padding: 5rem 0; */
}
.swiper--proj > .swiper-wrapper > .swiper-slide {
  max-width: 480px;
  /* padding: 0 2rem; */
  margin: 0 2rem;
}

.portfolio__slide::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0.1026785714285714) 80%,
    rgba(0, 0, 0, 0.304359243697479) 100%
  );
  z-index: 1;
}

.circle-obj2 {
  background: radial-gradient(closest-side, yellow, rgba(233, 168, 2, 0));
  animation: 10000ms ease-in-out 0ms infinite alternate none running
    traverse-up-left;
  z-index: -1;
}

.circle-obj {
  background: radial-gradient(closest-side, #30aade, rgba(233, 168, 2, 0));
  animation: 19579ms ease-in-out 0ms infinite alternate none running
    traverse-up-right;
  z-index: -1;
}

.mix-blend-multiply {
  mix-blend-mode: multiply !important;
}

/* animation	 */
@-webkit-keyframes traverse-up-left {
  to {
    transform: translateY(-200px) translateX(-350px) rotate(180deg);
  }
}
@keyframes traverse-up-left {
  to {
    transform: translateY(-200px) translateX(-350px) rotate(180deg);
  }
}
@-webkit-keyframes traverse-up-right {
  to {
    transform: translateY(-300px) translateX(300px) rotate(1turn);
  }
}
@keyframes traverse-up-right {
  to {
    transform: translateY(-300px) translateX(300px) rotate(1turn);
  }
}
